.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    height: 100vh;
}

.banner-container {
    display: block;
    align-items: center;
    padding: 0rem 3rem 3rem 3rem;
}

.banner-container.left {
    background-color: #FFF2F2;
}

.banner-container.right {
    background-color: #DB4D4B;
}

/* .joining-container {
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: max-content;
    background-color: #E22637;
} */

.input-code {
    display: inline-block;
    border: none;
    appearance: auto;
    outline: none;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: left;
    cursor: pointer;
    padding: 10px 30px;
    margin: 10px 0px 10px 10px;
    background-color: #DB4D4B;
}

.input-code::placeholder {
    color: #FCC5C0;
}

.input-code:focus::placeholder {
    color: transparent;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 10px;
    margin: 0px 10px 0px 0px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: max-content;
    height: max-content;
    background-color: #DB4D4B;
}


