.banner {
    text-align: left;
    height: 100vh;
}

.banner-container {
    align-items: center;
    padding: 0rem 3rem 0rem 3rem;
}

.banner-container.left {
    background-color: #FFF2F2;
}

.banner-container.right {
    background-color: #DB4D4B;
}

.input-code {
    display: inline-block;
    border: none;
    appearance: auto;
    outline: none;
    border-radius: 1rem;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: left;
    cursor: pointer;
    background-color: #DB4D4B;
}

.input-code::placeholder {
    color: #FCC5C0;
}

.input-code:focus::placeholder {
    color: transparent;
}