* {
    margin: 0;
}

header {
    background-color: #E22637;
}

main {
    background-color: #FAE7E7;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    height: max-content;
}

footer {
    width: 100%;
    height: 3rem;
    /*50 px*/
    background-color: #FAE7E7;

}


/*///////////////////////// Button Styles /////////////////////////*/

.button-navy {
    border-radius: 2rem;
    margin: 10px 10px;
    padding: 5px 15px;
    text-decoration: none;
    width: 150px;
    transition-duration: 0.4s;
    font-size: 16px;
    font-family: 'Metro-M';
    background-color: #263159;
    color: #FAE7E7;
    border: 2px solid #263159;
}

.button-navy:hover {
    background-color: transparent;
    color: #263159;
}

.button-navy.small {
    width: max-content;
}

.button-navy.large {
    width: 50%;
}

.button-lightpink {
    border-radius: 2rem;
    margin: 10px 10px;
    padding: 5px 15px;
    text-decoration: none;
    transition-duration: 0.4s;
    width: 150px;
    font-size: 16px;
    font-family: 'Metro-M';
    background-color: #FCC5C0;
    color: #263159;
    border: 2px solid #FCC5C0;
}

.button-lightpink:hover {
    background-color: transparent;
    color: #FCC5C0;
}

.button-lightpink-liner {
    color: #E22637;
}

.button-lightpink-liner:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #FCC5C0;
}

/*/////////////////////////////////////////////////////////////////*/

/*////////////////////////// Text Styles //////////////////////////*/

.text-48px {
    font-size: 3rem;
    /* 48px */
    line-height: 1;
    margin: 10px;
    font-family: 'Metro-B';
    color: #E22637;
}

.text-36px {
    font-size: 2.25rem;
    /* 36px */
    line-height: 2.5rem;
    /* 40px */
    margin: 10px;
    font-family: 'Metro-B';
    color: #263159;
}

.text-24px {
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */
    margin: 10px;
    font-family: 'Metro-M';
    color: #263159;
}

.text-24px.bold {
    font-family: 'Metro-B';
}

.text-20px {
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.75rem;
    /* 28px */
    margin: 10px;
    font-family: 'Metro-M';
    color: #263159;
}

.text-20px.bold {
    font-family: 'Metro-B';
}

.text-20px.m4 {
    margin-left: 3rem;
}

.text-18px {
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.75rem;
    /* 28px */
    margin: 10px;
    font-family: 'Metro-M';
    color: #263159;
}

.text-16px {
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
    margin: 10px;
    font-family: 'Metro-R';
    color: #263159;
}

.text-16px.bold {
    font-family: 'Metro-B';
}

.text-14px {
    font-size: 0.875rem;
    /* 14px */
    line-height: 1.25rem;
    /* 20px */
    font-family: 'Metro-R';
    margin: 10px;
    color: #263159;
}

.text-12px {
    font-size: 0.75rem;
    /* 12px */
    line-height: 1rem;
    /* 16px */
    font-family: 'Metro-R';
    margin: 10px;
    color: #1E1E1E;
}

.text-12px a {
    color: #FCC5C0;
}

/*/////////////////////////////////////////////////////////////////*/

/*////////////////////////// images size //////////////////////////*/

.images-icon {
    width: 25px;
    height: 25px;
}

.images-20px {
    width: 20px;
    height: 20px;
}

.images-16px {
    width: 16px;
    height: 16px;
}

/*/////////////////////////////////////////////////////////////////*/

.lable-container {
    display: block;
    margin: 0rem 0.6rem;
}

.checkbox {
    display: flex;
    text-align: center;
    border: none;
    border-radius: 1rem;
    color: #263159;
    padding: 10px 30px;
    margin: 0.6rem 0.6rem;
    height: auto;
    width: max-content;
    background-color: #D9D9D9;
}

.container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: auto auto;
}

.container.new {
    width: 50%;
}

.input-container {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 0.75rem;
}


.input {
    display: block;
    border: none;
    appearance: none;
    border-radius: 2rem;
    color: #263159;
    cursor: pointer;
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 1rem;
    background-color: #D9D9D9;
}

.input:focus {
    outline: none;
}

.header-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
}

.ellipsis { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.line {
    border-top-width: 0rem;
    border-bottom-width: 0.1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.line.new {
    margin-left: auto;
    margin-right: auto;
    border-color: #1E1E1E;
}