@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Metro-B';
    src: url(fonts/Metropolis-Bold.otf);
}

@font-face {
    font-family: 'Metro-M';
    src: url(fonts/Metropolis-Medium.otf);
}

@font-face {
    font-family: 'Metro-R';
    src: url(fonts/Metropolis-Regular.otf);
}

body {
    margin: 0;
    background-color: #FFF2F2;
    font-family: 'Metro-R';
}

html {
    font-size: calc(60% + 0.8vmin);
}

/* for phone size  */
/* @media only screen and (max-width: 600px) {

    
    .navbar {
        grid-template-columns: 1fr;
    }

    .navbar-container.right {
        background-color: inherit;
    }
} */

/* for large phone size  */
/* @media only screen and (min-width: 600px) {

    
    .navbar {
        grid-template-columns: 1fr;
    }

    .navbar-container.right {
        background-color: inherit;
    }
    
} */

/* for tablet size  */
/* @media only screen and (min-width: 768px) {

    
    .navbar {
        grid-template-columns: 1fr;
    }

    .navbar-container.right {
        background-color: inherit;
    }
} */

/* for labtops size  */
/* @media only screen and (min-width: 992px) {
    
} */

/* for large labtops size  */
/* @media only screen and (min-width: 1200px) {
    
} */