@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Metro-B';
    src: url(fonts/Metropolis-Bold.otf);
}

@font-face {
    font-family: 'Metro-M';
    src: url(fonts/Metropolis-Medium.otf);
}

@font-face {
    font-family: 'Metro-R';
    src: url(fonts/Metropolis-Regular.otf);
}

body {
    margin: 0;
    background-color: #FAE7E7;
    font-family: 'Metro-R';
}