.create-activity-header {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
}

.create-activity{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
}

.create-activity-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.625rem 0.625rem;
}

